Origin
  [OriginID] Integer not null primary key
  [Origin] Text not null
Destination
  [DestinationID] integer not null Primary key
  [Destination] Text not null
Trips
  [TripID] INTEGER NOT NULL PRIMARY KEY
  [pickup_datetime] TEXT NOT NULL
  [trip_distance] FLOAT NOT NULL
  [trip_duration] TEXT NOT NULL
  [OriginID] INTEGER NOT NULL REFERENCES Origin(OriginID)
  [DestinationID] INTEGER NOT NULL REFERENCES Destination(DestinationID))

In [3]:
### Utility Functions
from IPython.display import display, HTML
import pandas as pd
import sqlite3
from sqlite3 import Error

def create_connection(db_file, delete_db=False):
    import os
    if delete_db and os.path.exists(db_file):
        os.remove(db_file)

    conn = None
    try:
        conn = sqlite3.connect(db_file)
        conn.execute("PRAGMA foreign_keys = 1")
    except Error as e:
        print(e)

    return conn


def create_table(conn, create_table_sql, drop_table_name=None):
    
    if drop_table_name: # You can optionally pass drop_table_name to drop the table. 
        try:
            c = conn.cursor()
            c.execute("""DROP TABLE IF EXISTS %s""" % (drop_table_name))
        except Error as e:
            print(e)
    
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)
        
def execute_sql_statement(sql_statement, conn):
    cur = conn.cursor()
    cur.execute(sql_statement)

    rows = cur.fetchall()

    return rows

In [2]:
def create_origin_table(data_filename, normalized_database_filename):
    conn = create_connection(normalized_database_filename)
    
    create_table_origin = '''CREATE TABLE IF NOT EXISTS Origin ( 
                         [OriginID] Integer not null primary key,
                         [Origin] Text not null);
                         ''' 
    
    row_count = 0
    origins = []
    with open(data_filename) as file:
        
        for line in file:
            if row_count ==0:
                columns = (line.strip().split(","))
                row_count+=1
            else:
                origins.append(line.strip().split(",")[1].strip())
                row_count+=1
        
        origins_unique = sorted(set(origins))
        origins_final = list(set(zip(range(1,len(origins_unique)+1),origins_unique)))
        origins_final=sorted(origins_final)
        
    with conn:
        create_table(conn, create_table_origin)
        insert_Origin(conn,origins_final)
        
def insert_Origin(conn,values):
        
        sql_insert_origin = """INSERT INTO Origin(OriginID,Origin)
                                VALUES(?,?)"""
        curr = conn.cursor()
        curr.executemany(sql_insert_origin,values)
        return curr.lastrowid

In [3]:
def create_destination_table(data_filename, normalized_database_filename):
    conn = create_connection(normalized_database_filename)
    
    create_table_destinations = '''CREATE TABLE IF NOT EXISTS Destination ( 
                                 [DestinationID] Integer not null primary key,
                                 [Destination] Text not null);
                         ''' 
    
    row_count = 0
    destinations = []

    with open(data_filename) as file:
        
        for line in file:
            if row_count ==0:
                columns = (line.strip().split(","))
                row_count+=1
            else:
                destinations.append(line.strip().split(",")[2].strip())
                row_count+=1
        
        destinations_unique = sorted(set(destinations))
        destinations_final = list(set(zip(range(1,len(destinations_unique)+1),destinations_unique)))
        destinations_final=sorted(destinations_final)
        
    with conn:
        create_table(conn, create_table_destinations)
        insert_destinations(conn,destinations_final)
        
def insert_destinations(conn,values):
        
        sql_insert_destinations = """INSERT INTO Destination(DestinationID,Destination)
                                VALUES(?,?)"""
        curr = conn.cursor()
        curr.executemany(sql_insert_destinations,values)
        return curr.lastrowid

In [4]:
def origin_to_originid_dictionary(normalized_database_filename,conn):
    
    
    # YOUR CODE HERE
    origins = execute_sql_statement("SELECT OriginID,Origin FROM Origin",conn)
    origin_dict = dict()
    for item in origins:
        origin_dict[item[1]] = item[0]
        
    return origin_dict

In [5]:
def destination_to_destinationid_dictionary(normalized_database_filename,conn):
    
    
    # YOUR CODE HERE
    destination = execute_sql_statement("SELECT DestinationID,Destination FROM Destination",conn)
    destination_dict = dict()
    for item in destination:
        destination_dict[item[1]] = item[0]
        
    return destination_dict

In [6]:
def create_trips_table(data_filename, normalized_database_filename):
    conn = create_connection(normalized_database_filename)
    
    create_table_trips = '''CREATE TABLE IF NOT EXISTS Trips( 
                                 [TripID] INTEGER NOT NULL PRIMARY KEY,
                                 [pickup_datetime] TEXT NOT NULL,
                                 [trip_distance] FLOAT NOT NULL,
                                 [trip_duration] TEXT NOT NULL,
                                 [OriginID] INTEGER NOT NULL REFERENCES Origin(OriginID),
                                 [DestinationID] INTEGER NOT NULL REFERENCES Destination(DestinationID));
                         ''' 
    
    row_count = 0
    trips = []
    destination_dict = destination_to_destinationid_dictionary(normalized_database_filename,conn)
    origin_dict = origin_to_originid_dictionary(normalized_database_filename,conn)
    with open(data_filename) as file:
        
        for line in file:
            if row_count ==0:
                columns = (line.strip().split(","))
                row_count+=1
            else:
                a = line.strip().split(',')
                values = (a[3],a[4],a[5],origin_dict[a[1]],destination_dict[a[2]])
                trips.append(values)
                row_count+=1
        
        
    with conn:
        create_table(conn, create_table_trips)
        insert_Trip(conn,trips)
        

def insert_Trip(conn, values):
    sql = '''INSERT INTO Trips(pickup_datetime, trip_distance,trip_duration,OriginID,DestinationID)
          VALUES(?,?,?,?,?) '''
    cur = conn.cursor()
    cur.executemany(sql, values)
    return cur.lastrowid

In [7]:
data_filename = "uber_nyc_data.csv"# sample data
normalized_database_filename = 'normalized_final.db'
create_origin_table(data_filename, normalized_database_filename)
create_destination_table(data_filename, normalized_database_filename)
create_trips_table(data_filename, normalized_database_filename)

In [46]:
# not handled missing values in destination and origin

In [8]:
def ConvertDurationToMinutes(time_str):
    mins_split = str(time_str).split(':')
    #if (len(mins_split)!=3):
        #print("nope")
        #print(mins_split)
    
    val = int(mins_split[0])*60 + int(mins_split[1]) + int(mins_split[2])/60.0
    return val

In [14]:
import datetime
def est_revenue(arr):
    base_fare = 2.55
    per_minute = 0.35
    per_mile = 1.75
    min_fare = 8
    rev = base_fare + arr[0] * per_minute + arr[1] * per_mile
    return rev if rev > min_fare else min_fare                
def convertTripDuration(non_normalized_db_filename):
    """
    Function that takes a string in the format yyyy-mm-dd hh:mm:ss, and
    returns the same as a datetime object.
    """
    conn = create_connection(non_normalized_db_filename)
     
    min_fare = 8    
    sql_statement_dates = "SELECT * from Trips"
    df = pd.read_sql_query(sql_statement_dates, conn)
    df['pickup_dt'] = df['pickup_datetime'].astype('datetime64[ns]')
    df['date'] = df['pickup_dt'].dt.date
    df['year'] = df['pickup_dt'].dt.year
    df['month'] = df['pickup_dt'].dt.month
    df['day'] = df['pickup_dt'].dt.day
    df['hour'] = df['pickup_dt'].dt.hour 
    df['weekday'] = df['pickup_dt'].dt.dayofweek
    
    
    #sql_statement = "SELECT TripID,trip_duration,trip_distance,OriginID,DestinationID from Trips"
    #df = pd.read_sql_query(sql_statement, conn)
    
#     df = df[df['trip_distance'].notna()]
#     df = df[df['trip_duration'].notna()]
    df = df.dropna(subset=['trip_distance','trip_duration']) 
    df['trip_duration'] = df['trip_duration'].replace('NULL','0:0:0')
    df['duration_in_mins']=df['trip_duration'].apply(ConvertDurationToMinutes)
    
    
    df_DistDur = df.groupby(['OriginID', 'DestinationID'])[['trip_distance', 'duration_in_mins']].mean()
    df38 = df[df.trip_duration.isnull() & df.trip_distance.isnull()]
    for i in df38.index:
        orig = df.loc[i, 'OriginID']
        dest = df.loc[i, 'DestinationID']
        df.loc[i, 'trip_distance'] = df_DistDur.loc[orig, dest].trip_distance
        df.loc[i, 'duration_in_mins'] = df_DistDur.loc[orig, dest].duration_in_mins


    print(df.shape)
    df = df[df['duration_in_mins']!=0.0]
    df['trip_mph_avg'] = df['trip_distance']/(df['duration_in_mins']/60.0)
    df_new = df[['duration_in_mins', 'trip_distance']].values
    
    df['est_revenue'] = pd.Series(map(lambda x: est_revenue(x), df_new)) 
    df.loc[df.est_revenue < 8, 'est_revenue'] = min_fare
    print(df.info())    
    
    return df[(df['pickup_dt'] != datetime.date(2015, 9, 1)) & (df['duration_in_mins'] <= 960)]

In [15]:
df=convertTripDuration("normalized_final.db")
df_final = df.drop(['pickup_datetime','trip_duration'],axis=1)

(30925738, 14)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30900834 entries, 0 to 30925737
Data columns (total 16 columns):
 #   Column            Dtype
---  ------            -----
 0   TripID            int64
 1   pickup_datetime   object
 2   trip_distance     object
 3   trip_duration     object
 4   OriginID          int64
 5   DestinationID     int64
 6   pickup_dt         datetime64[ns]
 7   date              object
 8   year              int64
 9   month             int64
 10  day               int64
 11  hour              int64
 12  weekday           int64
 13  duration_in_mins  float64
 14  trip_mph_avg      object
 15  est_revenue       float64
dtypes: datetime64[ns](1), float64(2), int64(8), object(5)
memory usage: 3.9+ GB
None

In [16]:
df_final.head(5)

,TripID,trip_distance,OriginID,DestinationID,pickup_dt,date,year,month,day,hour,weekday,duration_in_mins,trip_mph_avg,est_revenue
0,1,4.25,26,23,2014-09-01 09:00:00,2014-09-01,2014,9,1,9,0,15.183333,16.7947,15.301667
1,2,10.17,25,7,2014-09-01 18:00:00,2014-09-01,2014,9,1,18,0,34.083333,17.9032,32.276667
2,3,4.02,3,11,2014-09-01 17:00:00,2014-09-01,2014,9,1,17,0,17.100000,14.1053,15.570000
3,4,1.46,14,17,2014-09-01 13:00:00,2014-09-01,2014,9,1,13,0,6.533333,13.4082,8.000000
4,5,8.31,10,2,2014-09-01 14:00:00,2014-09-01,2014,9,1,14,0,26.283333,18.9702,26.291667